<!-- Content heading -->
 <% if (title) { %>
    <h1><%= title %></h1>
    <% } %>

    <%# messages () %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<section class="register-form">
    <form id="registerForm" action="/account/register" method="post">
        <div class="register-form-group">
            <label class="first-name-label" for="first-name">*First Name:</label>
            <input class="first-name-input" type="text" id="account_firstname" name="account_firstname" required placeholder="John" value="<%= locals.account_firstname %>">
        </div>
        <div class="register-form-group">
            <label class="last-name-label" for="last-name">*Last Name:</label>
            <input class="last-name-input" type="text" id="account_lastname" name="account_lastname" required placeholder="Doe" value="<%= locals.account_lastname %>">
        </div>
        <div class="register-form-group">
        <!-- Email -->
            <label class="email-label" for="email">*Email:</label><br>
            <input class="email-input" type="email-input" id="account_email" name="account_email"required placeholder="example@gmail.com" value="<%= locals.account_email %>">
        </div>
        <!-- Password -->
        <div class="register-form-group">
            <label class="password-label" for="password">*Password:</label>
            <input class="passsword-input" type="password" id="account_password" name="account_password"required placeholder="Enter password"
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        </div>
        <p>Passwords must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</p>

        <button class="register-button" type="submit">Register</button>
    </form>
</section>