<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div id="wrapper">
        <%- include('../partials/header')  %>
        <%- include('../partials/navigation') %>
        <% if (typeof showHero !== 'undefined' && showHero) { %>
        <div id="hero">
            <%- include('../partials/hero') %>
        </div>
        <% } %>

        <main>
            <% if (typeof showUpgrades !== 'undefined' && showUpgrades) { %>
            <div id="reviews-upgrades">
                <%- include('../partials/reviews') %>  
                <%- include('../partials/upgrades') %>
            </div>
            <% } %>
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>
    </body>
</html>